<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>


<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <form action="/users/addAdmin" method="post">

        <input type="text" name="firstName" placeholder="First Name" required><br>
        <input type="text" name="lastName" placeholder="Last Name" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <!-- <input type="text" name="type" value="admin" required><br> -->
        <select class="select-box" name="type" id="">
            <option value="admin">admin</option>
            <option value="user">user</option>
        </select><br>
        <input type="password" name="password" placeholder="password" required ><br>
        <input class="btn btn-outline-primary" type="submit" name="" value="Submit" id="">

    </form>



    






    
    <%- include('../partials/footer'); %>
</body>

</html>

