<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="showbg">
    <section class="container">
      <div class="row">
        <div class="col-12 main-div">
          <div class="col-6 buttons">
            <!-- <button class="show-button"> -->
              <a class="show-button" href="/users/login">LOGIN</a>
            <!-- </button>
            <button > -->
              <a class="show-button" href="/users/signup">SIGNUP</a>
            <!-- </button> -->
          </div>
          <div class="col-6"></div>
        </div>
      </div>
    </section>
  </body>
</html>
